<td>1</td>
<td>Username</td>
<td>example@gmail.com</td>
<td>Male</td>
<td>Active</td>
<td>
  <a href="/update-user" class="btn border-shadow update"
    ><i class="fa-solid fa-pencil text-gradient"></i
  ></a>

  <a class="btn border-shadow delete"
    ><i class="fa-solid fa-times text-gradient"></i
  ></a>
</td>
